/* CompletaLaFrase.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* CompletaLaFrase.css */
.game-container {
    max-width: 600px;
    margin: auto;
    background: #7cd3ee8e;
    padding: 20px;
    border-radius: 8px;
    min-height: 400px; /* Establecer una altura mínima */
}


h1 {
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.option-button:hover {
    background-color: #0056b3;
}

.message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
